#page-landing {
  background: rgb(34,23,52);
  background: linear-gradient(90deg, rgba(34,23,52,1) 0%, rgba(12,176,209,1) 100%);

  text-align: center;
  min-height: 100vh;

  display: flex;
}

#container {
  margin: auto;

  width: 90%;
}

.location, h1, .visit p {
  height: 16vh;
}

.visit a {
  width:8rem;
  height:8rem;
  background: #ffd666;

  border: none;
  border-radius: 4rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  transition: background 200ms;

  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.visit a:hover {
  background: #96feff;
}

#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  animation-delay: 250ms;
}